body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #e0eafc, #cfdef3); /* Subtle gradient background */
    color: #333;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #444;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

#container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    padding: 30px;
    gap: 30px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

#buttons {
    display: flex;
    flex-direction: column;
    gap: 15px; 
}


.btn {
    background-color: #4CAF50;
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

#grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 300px;
    height: 300px; 
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    background: #f7f9fc;
}

.cell {
    border: 0.5px solid #ddd;
    box-sizing: border-box;
    height: 15px; 
    width: 15px;
    transition: background-color 0.2s;
}

.cell.active {
    background-color: #333;
    transition: background-color 0.2s;
}

#color-picker {
    position: absolute; 
    opacity: 0; 
    width: 1px; 
    height: 1px; 
    margin: 0;
    padding: 0;
    border: none;
    z-index: -1; 
}